footer#footer
  .resources
    table
      thead
        tr
          th About The Store
          th Help & Contact
          th Easy Online Shopping
          th Payment Methods
      tbody
        tr
          td #[a(href="./about.html") About Store]
          td #[a(href="./help.html") All Help Topics]
          td #[a(href="") Free Delivery]
          td.payment #[i.fa-brands.fa-cc-paypal] #[i.fa-brands.fa-cc-visa] #[i.fa-brands.fa-cc-mastercard]
        tr
          td
          td #[a(href="./help.html") How It Works]
          td #[a(href="./about.html") 100 Days Return]
          td
        tr
          td
          td #[a(href="./help.html") How to Buy]
          td #[a(href="./about.html") Free Returns]
          td
  .copyright
    .copyright-year @Copyright <span id="year"></span> All Right Reserved
    .social-media
      i.fa-brands.fa-facebook-f
      i.fa-brands.fa-twitter
      i.fa-brands.fa-instagram