main#product
  section#product-welcome
    h2 Product Name
  section#product-info
    .images
      .images-image
        img(src="./images/showcase1.jpg", alt="Product Image", id='product-image')
      .images-nav
        ul
          li  #[img#product-image1(src="./images/showcase1.jpg", alt="product image 1")]
          li  #[img#product-image2(src="./images/showcase2.jpg", alt="product image 2")]
          li  #[img#product-image3(src="./images/showcase3.jpg", alt="product image 3")]
    .product-details
