main#categories
  aside.categories-filter
    form
      div
        label(for="categories") Categories
        select#select-categories(name="categories")
      div#ranges
        label(for="range") Price
        div
          div
            input(type="checkbox", name="range", value='100')
            span 100$ or more
          div
            input(type="checkbox", name="range", value='200')
            span 200$ or more
          div
            input(type="checkbox", name="range", value='300')
            span 300$ or more
          div
            input(type="checkbox", name="range", value='400')
            span 400$ or more
          div
            input(type="checkbox", name="range", value='500')
            span 500$ or more
          div
            input(type="checkbox", name="range", value='600')
            span 600$ or more
          div
            input(type="checkbox", name="range", value='700')
            span 700$ or more
          div
            input(type="checkbox", name="range", value='800')
            span 800$ or more
          div
            input(type="checkbox", name="range", value='900')
            span 900$ or more
          div
            input(type="checkbox", name="range", value='1000')
            span 1000$ or more
      button.cat-btn Find Products
  section.categories-results