- var detailStirng = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cum dolorem provident repellat dolor eligendi, et nisi quidem suscipit ullam. Ullam id explicabo iste illum vitae quas nostrum, expedita architecto nobis autem facere, itaque ipsum eius exercitationem aliquam minus? Atque.'
main#help
  section#help-welcome
    h2 Help
    div Home / Help
  section#help-instructions
    #instructions
      .instruction
        div
          i.fa-sharp.fa-solid.fa-caret-right#help-row
          h2 Who Are We?
      .detail
        p #{detailStirng}
      .instruction
        div
          i.fa-sharp.fa-solid.fa-caret-right#help-row
          h2 How To Buy?
      .detail
        p #{detailStirng}
      .instruction
        div
          i.fa-sharp.fa-solid.fa-caret-right#help-row
          h2 About Our Return Policy.
      .detail
        p #{detailStirng}