main#categories
  aside.categories-filter
    form
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div 
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      div
        input(type="checkbox", name="cat")
        span Smartphones
      button.cat-btn filter
  section.categories-results
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
    div.categories-product
      div.product-image
        img(src="./images/news1.jpg", alt="Product")
      div.product-info
        span.product-info-name product name
        small.product-info-cat product type
