main#fav
  section#fav-welcome
    h2 Favorites
    div Home / Favorites
  section#fav-table
    table.fav-list
      tr.headings
        th Product Name
        th Unit Price
        th Qty
        th Add To Card
        th Delete
      //- tr
      //-   td.product-title #[img(src="./images/review1.jpg", alt="")] Product Name
      //-   td 20$
      //-   td #[input(type="number", name="quantity" , id="qty")]
      //-   td #[button.add-btn #[i.fa-solid.fa-cart-shopping] Add To Cart]
      //-   td #[button.remove #[i.fa-solid.fa-trash]]
  a.continue-shopping(href="./home.html") #[i.fa-sharp.fa-solid.fa-arrow-left] Continue Shopping