#update-password
      div
        h2 Update Password
        i.fa-sharp.fa-solid.fa-circle-xmark#xmark-password
      .line
      form.update-password-form
        .old-password
          input(type="password", name="old-password", id='old-password', placeholder='Old Password')
          input(type="password", name="confirm-old-password", id='confirm-old-password', placeholder='Confirm Old Password')
        .new-password
          input(type="password", name="new-password", id='new-password', placeholder='New Password')
          input(type="password", name="confirm-new-password", id='confirm-new-password', placeholder='Confirm New Password')
        input(type="submit", value="Confirm Changes", id='change-password').change-password