@import './include/animation';
@import './include/vars';
@import './include/mixins';
@import './include/global';
@import './include/header';
@import './include/footer';
@import './include/contact';
@import './include/profileMenu';

#navbar {
  position: relative;
}

#help {
  @include custom-flex(column, initial, center);
  gap: 50px;
  #help-welcome {
    @include custom-flex(column);
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 60px;
    gap: 20px;
    h2 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 70px;
      letter-spacing: 1.5px;
      color: #333;
    }

    div {
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      letter-spacing: 2px;
      color: #333;
    }

    @include max-media(768px) {
      @include custom-flex(column, center, center);
    }
  }

  #help-instructions {
    width: 100%;
    background-color: #fff;
    padding: 30px 95px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    #instructions {
      @include custom-flex(column);
      width: 50vw;
      .instruction {
        position: relative;
        div {
          @include custom-flex(initial, initial, center);
          cursor: pointer;
          border: 1px solid #888;
          background-color: #fdfdfd;
          padding-left: 10px;
          padding: 10px 0 10px 10px;
          h2 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 17px;
            color: #333;
          }
          i {
            cursor: pointer;
            color: #333;
            font-size: 13px;
            margin-right: 10px;
            transition: 300ms linear;
            &.open {
              transform: rotate(90deg);
            }
          }
        }
      }

      .detail {
        cursor: initial;
        border-top: 0;
        margin-bottom: 20px;
        transition: 400ms linear;
        max-height: 0;
        overflow: hidden;
        font-size: 17px;
        line-height: 30px;
        box-sizing: border-box;
        padding: 0 10px;
      }

      @include max-media(768px) {
        width: 60vw;
      }
    }
  }
}
