@import './include/animation';
@import './include/vars';
@import './include/mixins';
@import './include/global';
@import './include/header';
@import './include/footer';

#login {
  @include custom-flex(column, space-between, center);
  height: 100vh;
  #login-welcome {
    @include custom-flex(column);
    width: 100%;
    background-image: url('../images/path.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 60px;
    gap: 20px;
    h2 {
      font-family: 'Courgette', cursive;
      font-size: 70px;
      letter-spacing: 1.5px;
      color: #333;
    }

    div {
      font-family: 'Courgette', cursive;
      font-size: 20px;
      letter-spacing: 2px;
      color: #333;
    }

    @include max-media(768px) {
      justify-content: center !important;
      align-items: center !important;
    }
  }

  #form {
    background-image: url('../images/path.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-family: 'Courgette', cursive;
    margin-bottom: 30px;
    height: 430px;
    width: 40vw;
    .login-form {
      @include custom-flex(column, center, flex-start);
      padding: 30px;
      gap: 15px;
      legend {
        font-size: 20px;
        letter-spacing: 1px;
      }
      > input {
        font-size: 18px;
        font-family: 'Courgette', cursive;
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        border: 0;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: 'Courgette', cursive;
          font-size: 16px;
        }
        &[type='submit'] {
          transition: 300ms ease;
          cursor: pointer;
          background-color: #111;
          color: #ddd;
          font-size: 22px;
          &:hover {
            background-color: $main-color;
          }
        }

        &.error-input {
          &::placeholder {
            font-size: 14px;
            color: #ff0000;
            font-weight: 700;
          }
        }
      }
      .show-password {
        display: flex;
        gap: 5px;
        #show {
          cursor: pointer;
        }

        label {
          cursor: pointer;
        }
      }
      .forget-password {
        width: 100%;
        text-decoration: underline;
        font-size: 14px;
        text-align: center;
      }
      .line {
        background-color: #333;
        width: 100%;
        height: 1px;
        border-radius: 50px;
        margin: 8px 0;
      }
      h3 {
        font-size: 17px;
      }
      .register {
        font-family: 'Courgette', cursive;
        width: 100%;
        text-align: center;
        padding: 8px;
        border-radius: 10px;
        border: 2px solid #000;
        transition: 300ms ease;
        cursor: pointer;
        background-color: transparent;
        color: #000;
        font-size: 18px;
        text-decoration: underline;
        &:hover {
          background-color: #111;
          color: #ddd;
        }
      }
    }

    @include max-media(1000px) {
      width: 70vw;
    }
  }
}

.error-form {
  transition: 400ms linear;
  text-align: center;
  width: 400px;
  font-size: 15px;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0000;
  color: #fff;
  padding: 12px 17px;
  z-index: 3000000;
  margin-top: -200px;

  &.show-error {
    margin-top: 0;
  }
}
