@import './include/animation';
@import './include/vars';
@import './include/mixins';
@import './include/global';
@import './include/header';
@import './include/footer';
@import './include/contact';
@import './include/profileMenu';

#navbar {
  position: relative;
}

.overlay {
  display: none;
  opacity: 0;
  z-index: 100002;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s ease-in;

  &.overlay-show {
    opacity: 1;
  }
}

#address-form {
  @include custom-flex(column);
  border-radius: 10px;
  border: 1px solid #888;
  width: 500px;
  padding: 20px 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -150%);
  background-color: #fff;
  color: #000;
  z-index: 100005;
  gap: 15px;
  transition: 0.3s ease-in;

  > div {
    @include custom-flex(initial, space-between, center);
    h2 {
      font-family: 'Roboto Condensed', Times, sans-serif;
      font-size: 20px;
    }

    i {
      cursor: pointer;
      color: #d20000;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #888;
  }

  .address-form {
    @include custom-flex(column);
    width: 100%;
    gap: 10px;

    > div {
      @include custom-flex(initial, space-between);
      gap: 22px;
      select {
        font-family: 'Roboto Condensed', Times, sans-serif;
        width: 50%;
        font-size: 16px;
        &:focus {
          outline: none;
        }
      }
      input {
        font-family: 'Roboto Condensed', Times, sans-serif;
        font-size: 16px;
        padding: 7px 0;
        padding-left: 5px;
        border: 0;
        border-bottom: 1px solid #888;
        &::placeholder {
          font-size: 16px;
          color: #888;
        }
        &:focus {
          outline: none;
        }

        &:not(#street-name, #mobile) {
          width: 50%;
        }

        &#street-name,
        &#mobile {
          width: 100%;
        }
      }
    }

    .submit-address {
      @include custom-flex(initial, space-between, center);
      margin-top: 10px;
      width: 100%;
      .add-btn {
        cursor: pointer;
        width: fit-content;
        padding: 7px 5px;
        font-size: 16px;
        background-color: #000;
        color: #fff;
        border: 0;
        transition: 0.3s ease;
        border-radius: 5px;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }

      .address-error {
        border-radius: 70vmax;
        background-color: #ff0000;
        color: #fff;
        padding: 5px 7px;
        font-size: 14px;
        font-weight: 500;

        &:empty {
          display: none;
        }
      }
    }
  }

  &.show {
    transform: translate(-50%, 0);
  }
}

#update-password {
  @include custom-flex(column);
  border-radius: 10px;
  border: 1px solid #888;
  width: 500px;
  padding: 20px 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -200%);
  background-color: #fff;
  color: #000;
  z-index: 100005;
  gap: 15px;
  transition: 0.3s ease-in;

  > div {
    @include custom-flex(initial, space-between, center);
    h2 {
      font-family: 'Roboto Condensed', Times, sans-serif;
      font-size: 20px;
    }

    i {
      cursor: pointer;
      color: #d20000;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #888;
  }

  .update-password-form {
    @include custom-flex(column);
    width: 100%;
    gap: 25px;

    > div {
      @include custom-flex(initial, space-between);
      gap: 22px;
      input {
        width: 50%;
        font-family: 'Roboto Condensed', Times, sans-serif;
        font-size: 16px;
        padding: 7px 0;
        padding-left: 5px;
        border: 0;
        border-bottom: 1px solid #888;
        &::placeholder {
          font-size: 16px;
          color: #888;
        }
        &:focus {
          outline: none;
        }

        &.error-input {
          &::placeholder {
            font-size: 13px;
            color: #ff0000;
            font-weight: 700;
          }
        }
      }
    }

    input.change-password {
      cursor: pointer;
      width: fit-content;
      padding: 7px 5px;
      font-size: 16px;
      background-color: #000;
      color: #fff;
      border: 0;
      transition: 0.3s ease;
      border-radius: 5px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }

  &.show {
    transform: translate(-50%, 0);
  }
}

#profile {
  height: 80vh;
  #profile-welcome {
    @include custom-flex(column);
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 60px;
    gap: 20px;
    h2 {
      font-family: 'Courgette', cursive;
      font-size: 70px;
      letter-spacing: 1.5px;
      color: #333;
    }

    div {
      font-family: 'Courgette', cursive;
      font-size: 20px;
      letter-spacing: 2px;
      color: #333;
    }
  }

  #profile-content {
    @include custom-flex(initial, space-between);
    margin-top: 30px;
    width: 100%;
    gap: 20px;
    padding: 0 200px;
    .tabs {
      @include custom-flex(column);
      height: 140px;
      border: 1px solid #888;
      div {
        height: calc(100% / 3);
        transition: 300ms ease;
        cursor: pointer;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 10px 5px;
        padding-right: 90px;
        font-size: 19px;
        font-size: 600;
        color: #333;
        &:nth-of-type(2) {
          border-top: 1px solid #888;
          border-bottom: 1px solid #888;
        }

        &.active-tab {
          background-color: goldenrod;
          color: #fff;
        }
      }
    }

    .tab-content {
      flex: 1;
      > div {
        opacity: 0;
        transition: 0.15s ease-in;
        &.orders {
          #orders-table {
            width: 100%;
            tr {
              th {
                background-color: #999;
                color: #fff;
                padding: 10px 0;
                border: 1px solid #777;
              }
              tr {
                background-color: #fff;
                color: #333;
                padding: 15px 0;
                border: 1px solid #777;
              }
            }
          }
        }

        &.address {
          @include custom-flex(initial, space-between);
          flex-wrap: wrap;
          gap: 20px;
          > h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14;
            color: rgb(42, 64, 64);
          }
          .add-address {
            cursor: pointer;
            background-color: #000;
            color: #fff;
            padding: 10px 20px;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            border-radius: 5px;
            transition: 200ms ease-in;
            border: 0;
            &:focus {
              outline: none;
            }
            &:hover {
              background-color: $main-color;
              color: #fff;
            }
          }
          .address-box {
            @include custom-flex(initial, space-between, center);
            width: 100%;
            height: 170px;
            border: 1px solid $main-color;
            padding: 17px 50px 29px 30px;
            .address-box-information {
              h2 {
                position: relative;
                margin-bottom: 50px;
                font-family: 'Cairo', sans-serif;
                &:before {
                  content: '';
                  position: absolute;
                  top: 130%;
                  left: 0;
                  width: 40%;
                  height: 1px;
                  background-color: #000;
                }
              }
              div {
                p {
                  font-weight: 400;
                  font-size: 17px;
                  &:first-of-type {
                    transform: translateY(-10px);
                  }
                  &:nth-of-type(2) {
                    transform: translateY(-5px);
                  }
                }
              }
            }

            .address-delete {
              cursor: pointer;
              padding: 20px;
              border-radius: 50px;
              border: 0;
              background-color: #d20000;
              color: #fff;
              font-size: 24px;
              transition: 150ms ease-in;
              &:focus {
                outline: none;
              }
              &:hover {
                background-color: rgb(255, 0, 0, 0.7);
              }
            }
          }
        }

        &.setting {
          @include custom-flex(column);
          gap: 20px;
          h2 {
            font-family: 'Roboto Condensed', serif;
            font-size: 23px;
            font-weight: 500;
          }

          .line {
            width: 100%;
            height: 1px;
            background-color: #666;
            margin-bottom: 40px;
          }

          #update-info {
            @include custom-flex(column);
            border: 0.8px solid #888;
            border-right: 0;
            border-left: 0;
            border-top: 0;
            padding: 10px 0 20px;
            gap: 10px;

            > div {
              @include custom-flex(initial, space-between, center);
              input {
                width: 50%;
                font-size: 17px;
                color: #333;
                border: 1px solid #999;
                padding: 7px 0 7px 5px;
                font-family: 'Times New Roman', Times, serif;

                &::placeholder {
                  color: #999;
                  font-size: 16px;
                }

                &:focus {
                  outline: none;
                }

                &.error-input {
                  &::placeholder {
                    font-size: 14px;
                    color: #ff0000;
                    font-weight: 700;
                  }
                }
              }

              #update {
                cursor: pointer;
                width: fit-content;
                padding: 6px 8px;
                font-size: 14px;
                font-weight: 500;
                background-color: #222;
                color: #fff;
                border: 0;
                transition: 0.3s ease;

                &:focus {
                  outline: none;
                }

                &:hover {
                  background-color: $main-color;
                }
              }
            }

            .update-password-btn {
              cursor: pointer;
              width: fit-content;
              margin-top: 50px;
              padding: 8px 10px;
              font-size: 16px;
              font-weight: 500;
              background-color: #222;
              color: #fff;
              border: 0;
              transition: 0.3s ease;

              &:focus {
                outline: none;
              }

              &:hover {
                background-color: $main-color;
              }
            }
          }
        }

        &.hide-content {
          display: none;
        }

        &.show-tab {
          opacity: 1;
        }
      }
    }
  }
}
