@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;800&family=Merriweather:wght@400;700;900&family=Roboto+Condensed:wght@400;700&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
