@import './mixins';

#navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100001;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
  isolation: isolate;
  @include max-media(768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }
  h1 {
    a {
      text-decoration: none;
      color: #fff;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2.3rem;
      letter-spacing: 2px;
    }
  }

  .nav-links {
    color: #fff;
    display: flex;
    @include max-media(768px) {
      display: none;
    }
    li {
      padding: 0 20px;

      &:hover {
        a {
          color: $main-color;
        }
      }

      a {
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        transition: color 150ms linear;
        &.activeNav {
          color: $main-color;
          font-weight: 600;
        }
      }
    }
  }

  .nav-icons {
    display: flex;
    @include max-media(768px) {
      display: none;
    }
    li {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      text-align: center;
      &:hover {
        i {
          color: $main-color;
        }

        div {
          color: $main-color;
        }
      }

      i {
        color: #fff;
        transition: color 150ms linear;
      }

      div {
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        font-size: 14px;
        transition: color 150ms linear;
      }

      &:nth-of-type(2) {
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        padding: 0 10px;
        margin: 0 10px;
      }
    }
  }

  .res-show {
    cursor: pointer;
    display: none;
    color: #fff;
    background-color: transparent;
    border: 0;
    i {
      font-size: 27px;
    }
    @include max-media(768px) {
      display: block;
    }
  }

  .res-menu {
    display: none;
    transition: 0.25s ease-in;
    transform: translateY(-200%);
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    div {
      cursor: pointer;
      padding-block: 15px;
      border-bottom: 1px solid #666;
      text-align: center;
      width: 100%;
      &:is(:nth-of-type(1), :nth-of-type(2)) {
        padding-bottom: 15px;
      }

      a {
        font-family: 'Times New Roman', Times, serif;
        transition: 0.25s ease;
        color: #fff;
        font-size: 18px;
      }

      &:active {
        a {
          padding-left: 20px;
        }
      }
    }

    @include max-media(768px) {
      &.show-res-menu {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
