@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin custom-flex($dir: initial, $justify: initial, $align: initial) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin min-media($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin max-media($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}
