.profile-menu {
  position: relative;
  position: absolute;
  top: 88px;
  left: 72%;
  z-index: 100000;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  width: 250px;
  padding: 10px 0;
  border-top-right-radius: 10px;
  transition: 400ms ease-in;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      font-family: 'Times New Roman', Times, serif;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 100ms ease;
      i {
        font-size: 20px;
        transition: 200ms ease;
      }
      &:hover {
        color: $main-color;
        translate: 2%;
      }
    }
  }
  > i {
    position: absolute;
    right: 80%;
    top: -26px;
    color: #fff;
    font-size: 55px;
    transform: rotate(180deg);
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: #000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &.close {
    transform: translateY(-200%);
  }
}
