doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/png", href="./assests/icon.png")
    include ./include/fontAwesome.pug
    link(rel="stylesheet", href="./css/about.css")
    title Shippr | About Us
  body
    include ./include/header.pug
    include ./include/mainAbout.pug
    include ./include/footer.pug
    include ./include/profileLogOut.pug
    include ./include/contact.pug
    .contact-msg Our employees will contact with you soon, thanks.
    .error-msg Please fill the required details to let us contact you!
    script(type="module", src="./js/about.js")