doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/png", href="./assests/icon.png")
    include ./include/fontAwesome.pug
    link(rel="stylesheet", href="./css/fav.css")
    title Shippr | Favorites
  body
    include ./include/header.pug
    include ./include/mainFav.pug
    include ./include/footer.pug
    include ./include/profileLogOut.pug
    script(type="module", src="./js/fav.js")