doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/png", href="./assests/icon.png")
    include ./include/fontAwesome.pug
    link(rel="stylesheet", href="./css/product.css")
    title Shippr | Product Name
  body
    include ./include/header.pug
    include ./include/mainProduct.pug
    include ./include/footer.pug
    include ./include/profileLogOut.pug
    .added-msg The Product is added to Favorites
    |
    |
    script(type="module", src="./js/product.js")