doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/png", href="./assests/icon.png")
    include ./include/fontAwesome.pug
    link(rel="stylesheet", href="./css/register.css")
    title Shippr | Register
  body
    include ./include/header.pug
    include ./include/mainRegister.pug
    include ./include/footer.pug
    .error-form #[div Please Fill All The Information right!]
    |
    |
    script(type="module", src="./js/register.js")
    script(src="./js/header.js")